.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore JetBrains project settings
.idea

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Framework config files
src/test/resources/config.yaml
src/main/resources/reportportal.properties

*.png
*.class
*.yaml
/.classpath
/.project
/.settings/
/bin/
/test-output/
